	body{
		margin: 0px;
		width: 100%;
		}
	table{
		border-collapse: collapse;
		border:0px;
		width: 100%;
	}
	#Form_SignUp{
		font-family: tahoma;
	}
	.margin{
	width: 5%;
	}
	.header{
		background-image: url('images/backgroundTop.PNG');
		vertical-align: middle;
		height:80px;
	}
	.almet{
		font-family: verdana;
		color: white;
		font-size: 30px;
		vertical-align: middle;
		}
	.body{
		height: 800px;
	}
	.sidebar{
		vertical-align: top;
		background-color: #f4e109;
	}
	.content{
	text-align:center;
	width: 100%;
	background-color: LightGray;
	}
	.footer{
	font-family: verdana;
	color: blue;
	font-size: 12px;
	text-align: center;
	}

.body .content h1 marquee {
	font-family: Verdana, Geneva, sans-serif;
	color: #FFF;
}
.body .content h1 strong {
	font-family: Georgia, Times New Roman, Times, serif;
}
